build
dist / media
node_modules
.DS_Store
.next
.vercel

# Payload default media upload directory
public/media/
tsconfig.tsbuildinfo
.env*.local

dump
src/payload-types.ts
config.bat
temp_auto_push.bat
temp_interactive_push.bat
